/* Nav starts here */
    .container-fluid {
        padding: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .nav-img{
        width: 30%;
        margin-top: 15px;
        margin-left: 200px;
        margin-bottom: 10px;
    }

    .nav-start{
        /*background-color: #F9820E;*/
        /*height: 70px;*/
    }

    .nav-menu{
        margin-right: auto;  
    }
    .nav-menu li{
        padding: 0 10px;
        color: white;
    }
    .nav-menu li a{
        margin-top: 13px;
        font-size: 18px;
        font-weight: bold;
    }
    .navbar-light .navbar-nav .nav-link{
        color: rgb(252 244 244 / 100%);
    }
    .top-img{
        margin-top: -70px;        
    }
/* Nav ends here */

/*Video section starts here*/

.position-relative {
    position: relative !important;
}
.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.bg-gradient-primary {
    
background: linear-gradient(85deg, rgba(210 78 163 / 43%) 30%, rgba(216 42 24 / 70%) 92%) !important;
}
.ptb-100 {
    padding: 100px 0;
}
.justify-content-center {
    justify-content: center!important;
}
.flex-column {
    flex-direction: column!important;
}
.min-vh-100 {
    min-height: 100vh!important;
}
.position-relative {
    position: relative!important;
}
.d-flex {
    display: flex!important;
}
.min-vh-100 {
    min-height: 100vh!important;
}
.position-relative {
    position: relative!important;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100% !important;
}
.position-absolute {
    position: absolute !important;
}
.z--1 {
    z-index: -1;
}
.fit-cover {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
}
.h-100 {
    height: 100%!important;
}
.w-100 {
    width: 100%!important;
}
.position-absolute {
    position: absolute!important;
}
.h-100 {
    height: 100%!important;
}
.w-100 {
    width: 100%!important;
}
.position-absolute {
    position: absolute!important;
}

.btn-white {
    background-color: #fff;
    border-color: #c0ccda;
    color: rgba(27, 46, 75, 0.7);
}
.btn-rounded {
    border-radius: 10rem;
}
.hero-content-left h1 {
    font-size: 2.5795rem;
    line-height: 1.5;
}
.btn svg {
    width: 14px;
    height: 18px;
    stroke-width: 2.5px;
    margin-top: -2px;
}
.action-btns ul li a{
    padding: 10px 20px;
    font-size: 12px;
}
.svg-color{
   color: #F9820E !important; 
}

    @media screen and (max-width: 990px){
        .navbar{
            background-color: #F9820E;
            background: transparent !important;
        }
        .nav-img-sm{
            margin-left: 40px;
            width: 150px;
        }
        .nav-start{
            background-color: #1676aa;
            height: 300px;
            margin: auto;
        }
        .nav-menu{
            height: 100%;
            text-align: center;
        }
        .nav-middle-sm{
            text-align: center;
            background-color: #1676aa;
        }
        .nav-bottom-bar-sm{
            background-color: #4DA6D6;
            color: white;
            font-weight: bold;
        }  
        .affix {
        background: linear-gradient(75deg, #58B0D8, #58B0D8) !important;
        -webkit-transition: padding 0.4s ease-out;
        transition: padding 0.4s ease-out;
        }      
}

    .affix {
        background: linear-gradient(75deg, #58B0D8, #58B0D8) !important;
        -webkit-transition: padding 0.4s ease-out;
        transition: padding 0.4s ease-out;

    }

.laptop-img{
    max-width: 70%;
    margin-top: -160px;
}

@media screen and (max-width: 990px){
    .laptop-img{
        max-width: 100%;
        margin-top: -120px;
    }
 }
 @media screen and (max-width: 500px){
    .laptop-img{
        max-width: 100%;
        margin-top: -80px;
    }
 }

